{% extends "base.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>
{% block title %}
Lista de Filmes
{% endblock %}

{% block content %}

      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

   
    <h2>Lista de Filmes</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Cartaz</th>
                <th scope="col">Titulo</th>
                <th scope="col">Sinopse</th>
                <th scope="col">Gênero</th>
                <th scope="col">Data Inicio</th>
                <th scope="col">Data Fim</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for filme in vetFilmes %}
    
            <tr>
                <th scope="row">{{ filme.id }}</th>
    
                <td>
                   
                    <img src="{{url_for('cartazes',nome_arquivo=filme.cartaz)}}" class="img-thumbnail"
                        style="max-width: 80px; max-width: 80px;" alt="...">
                    
                </td>
                <td>{{filme.titulo}}</td>
                <td>{{filme.sinopse}}</td>
                <td>{{filme.genero}}</td>
                <td>{{filme.dataInicio.strftime("%d-%m-%Y")}}</td>
                <td>{{filme.dataFim.strftime("%d-%m-%Y")}}</td>
                <td>
                    <a class="btn btn-danger" href="/filmes/excluirFilme/{{filme.id}}">Excluir</a>
               
                    <a class="btn btn-danger" href="/filmes/telaEditarFilme/{{filme.id}}">Editar</a>
                </td>

            </tr>
            
            {% endfor %}
        </tbody>
        
    </table>
 
    <div class="row mx-5 my-5">
        <div class="col">
        </div>
        <div class="col-auto">
          <a class="btn btn-primary pull-right" href="/filmes/telaAdicionarFilme">Adicionar</a>
        </div>
      </div>

      

{% endblock %}

