<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% if usuario.tipo == 'aluno' %}
    {% extends 'base_aluno.html' %}
{% else %}
    {% extends 'base_professor.html' %}
{% endif %}

{% block title %}
    Editar Usuário: {{ usuario.nome }}
{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div id="cadastro">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="/usuarios/editar_usuario/{{usuario.id}}" method="post" enctype="multipart/form-data">
                        <h3 class="text-center text-info">GameIF - Editar Usuário {{ usuario.nome }}</h3>

                        <div class="form-group">
                            <div class="d-flex justify-content-center mb-4">
                                <img src="{{url_for('avatar',nome_arquivo=usuario.avatar)}}" class="rounded-circle" alt="example placeholder" style="width: 200px;" id="preview-image">
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="btn btn-primary btn-rounded">
                                    <label class="form-label text-white m-1" for="avatar_usuario">Escolha um Avatar para o usuário</label>
                                    <input type="file" class="form-control d-none" name="avatar_usuario" id="avatar_usuario" onchange="previewImage(event)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usuario" class="text-info">Nome:</label><br>
                            <input type="text" name="nome" id="nome" class="form-control" value="{{usuario.nome}}" required>
                        </div>

                        <div class="form-group">
                            <label for="apelido" class="text-info">Apelido:</label><br>
                            <input type="text" name="apelido" id="apelido" class="form-control" value="{{usuario.apelido}}" required>
                        </div>

                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="email" name="email" id="email" class="form-control" value="{{usuario.email}}" required title="Por favor, insira um endereço de e-mail válido">
                        </div>

                        <div class="form-group">
                            <label for="password" class="text-info">Senha:</label><br>
                            <input type="password" name="senha" id="senha" class="form-control" value = "{{usuario.senha}}" required>
                        </div>

                        <div class="form-group">
                            <label for="confirme-senha" class="text-info">Confirme a Senha:</label><br>
                            <input type="password" name="confirme-senha" id="confirme-senha" class="form-control" value = "{{usuario.senha}}" required>
                        </div>

                        <div class="form-group">
                            <label class="text-info">Tipo de Usuário:</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo-usuario" id="radio-aluno" value="aluno" {% if usuario.tipo == 'aluno' %}checked{% endif %}>
                                <label class="form-check-label" for="radio-aluno">Aluno</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo-usuario" id="radio-professor" value="professor" {% if usuario.tipo == 'professor' %}checked{% endif %}>
                                <label class="form-check-label" for="radio-professor">Professor</label>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <input type="submit" class="btn btn-success btn-lg mr-2" value="Salvar edição">
                            <a class="btn btn-danger btn-lg" href="/usuarios/meu_perfil" role="button">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('preview-image').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else if ("{{ usuario.avatar }}") {
            document.getElementById('preview-image').src ="{{url_for('avatar',nome_arquivo=usuario.avatar)}}";
        }
    }
</script>


{% endblock %}
