{% extends "base_professor.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>
{% block title %}
Avaliar Atividade {{atividade_selecionada.id}}
{% endblock %}

{% block content %}

      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

   
    <h2>Lista de Respostas da Atividade: {{atividade_selecionada.id}} - {{atividade_selecionada.nome}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome Aluno</th>
                <th scope="col">Resposta</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for resposta in atividade_selecionada.respostas %}
    
            <tr>
                <th scope="row">{{ resposta.id }}</th>
                <td>{{resposta.usuario.nome}}</td>
                <td>{{resposta.resposta}}</td>
                <td>
                    <a class="btn btn-danger" href="/professor/excluirResposta/{{resposta.id}}">Excluir</a>
               
                    <a class="btn btn-danger" href="/professor/telaEditarResposta/{{resposta.id}}">Editar</a>
                </td>

            </tr>
            
            {% endfor %}
        </tbody>
        
    </table>
 
      

{% endblock %}

