{% extends "base_professor.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>
{% block title %}
Avaliar Atividade {{atividade_selecionada.id}}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<div class="container mt-3">
    <h2>Lista de Respostas da Atividade: {{atividade_selecionada.nome}}</h2>
    {% if atividade_selecionada.respostas %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome Aluno</th>
                <th scope="col">Resposta</th>
                <th scope="col">Data da Resposta</th>
                <th scope="col">Nota</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for resposta in atividade_selecionada.respostas %}
            {% if resposta.pontuacao_recebida is none %}
            <tr class="table-danger">
            {% else %}
            <tr>
            {% endif %}
                <th scope="row">{{ resposta.id }}</th>
                <td>{{ resposta.usuario.nome }}</td>
                {% if atividade_selecionada.tipo == "envio-arquivo" %}
                    <td><a href="{{ url_for('professor.download_resposta', id_resposta=resposta.id) }}">Download</a></td>
                {% else %}
                    <td>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalResposta{{ resposta.id }}">
                            Visualizar
                        </button>
                    </td>
                {% endif %}
                <td>{{ resposta.data_de_resposta|datetimeformat('%d/%m/%Y') }}</td>
                <td>
                    <form action="/professor/atribuir_nota/{{ resposta.id }}" method="post">
                        <input type="number" name="nota" value="{{ resposta.pontuacao_recebida }}" min="0" max="{{ atividade_selecionada.pontuacao }}">
                        <button class="btn btn-success" type="submit">Atribuir Nota</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-danger" href="/professor/excluir_resposta/{{ atividade_selecionada.id }}/{{ resposta.id }}">Excluir</a>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="modalResposta{{ resposta.id }}" tabindex="-1" aria-labelledby="modalResposta{{ resposta.id }}Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalResposta{{ resposta.id }}Label">Resposta do Aluno</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            <p style="word-wrap: break-word;">{{ resposta.resposta }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h6 class="mt-4">Ainda não temos respostas para essa atividade.</h6>
    {% endif %}

    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-success btn-lg btn-block me-3" href="/professor/carregar_sala/{{ atividade_selecionada.sala_id }}">Voltar para a Sala</a>
    </div>
</div>
{% endblock %}
