{% extends "base_professor.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>

{% block title %}
Editar sala: {{sala_selecionada.nome}}
{% endblock %}

{% block content %}

      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<div class="container mt-3">
    <h2>Nova Sala: </h2>
    <form class="row g-3" action="/professor/editar_sala/{{sala_selecionada.id}}" method="post" name="formularioEditarSala" enctype=multipart/form-data>
        <div class="col-md-7">
            <label for="nome_sala" class="form-label">Nome da Sala
                <span class="text-danger font-weight-bold">*</span>
            </label>
            <input type="text" name="nome_sala" class="form-control" id="nome_sala" value="{{sala_selecionada.nome}}" required>
        </div>
        <div class="col-md-7">
            <label for="descricao" class="form-label">Descrição
                <span class="text-danger font-weight-bold">*</span>
            </label>
            <textarea name="descricao" class="form-control" id="descricao" required>{{sala_selecionada.descricao}}</textarea>
        </div>
        <div class="col-md-12">

        <div class="form-group mt-3">
            <div class="d-flex justify-content-center mb-4">
                <img src="/logos/{{sala_selecionada.logo}}"
                    class="rounded-square" alt="Logo padrão." style="width: 200px;" id="preview-image">
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-success btn-lg btn-block">
                    <label class="form-label text-white m-1" for="logo">Escolha um Logo para a Sala</label>
                    <input type="file" class="form-control d-none" name="logo" id="logo" onchange="previewImage(event)" accept="image/*">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-success btn-lg btn-block" onclick="validarCriarSala()"
            name="criar">Salvar Edição</button>
        </div>
    </form>
</div>

<script>
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('preview-image').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}

