{% extends "base_professor.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>

{% block title %}
Editar Atividade
{% endblock %}

{% block content %}

      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<div class="container mt-3">
    <h2>Editar as informações da atividade: {{atividade_selecionada.nome}}</h2>
    <form class="row g-3" action="/professor/editar_atividade/{{atividade_selecionada.id}}" method="post" name="formularioAdicionarAtividade" enctype=multipart/form-data>
        <div class="col-md-7">
            <label for="nome_atividade" class="form-label">Nome
                <span class="text-danger font-weight-bold">*</span>
            </label>
            <input type="text" name="nome_atividade" class="form-control" id="titulo" value="{{atividade_selecionada.nome}}" required>
        </div>
        <div class="col-md-7">
            <label for="descricao" class="form-label">Descrição
                <span class="text-danger font-weight-bold">*</span>
            </label>
            <textarea name="descricao" class="form-control" id="descricao" required>{{atividade_selecionada.descricao}}</textarea>
        </div>
        <div class="col-md-7">
            <label for="descricao" class="form-label">Pontuação
                <span class="text-danger font-weight-bold">*</span>
            </label>
            <input type="text" name="pontuacao" class="form-control" id="pontuacao" pattern="\d+" required title="Este campo aceita apenas valores numéricos." value="{{atividade_selecionada.pontuacao}}">
        </div>
        <div class="col-md-7">
            <label for="data">Prazo Final de Entrega:</label>
                <input type="date" id="data_entrega" name="data_entrega" value="{{atividade_selecionada.data_final}}">
        </div>
        <div class="col-md-7">
            <label>Tipo de Atividade:</label><br>
            <input type="radio" id="envio-arquivo" name="tipo_atividade" value="envio-arquivo" {% if atividade_selecionada.tipo == 'envio-arquivo' %}checked{% endif %} required>
            <label for="envio-arquivo">Envio de Arquivo</label><br>

            <input type="radio" id="resposta-longa" name="tipo_atividade" value="resposta-longa" {% if atividade_selecionada.tipo == 'resposta-longa' %}checked{% endif %}>
            <label for="resposta-longa">Resposta Longa</label><br>

            <input type="radio" id="resposta-curta" name="tipo_atividade" value="resposta-curta" {% if atividade_selecionada.tipo == 'resposta-curta' %}checked{% endif %}>
            <label for="resposta-curta">Resposta Curta</label><br><br>
        </div>

            <div class="d-flex justify-content-center mt-3">
                <input type="submit" class="btn btn-success btn-lg btn-block me-3" value="Salvar Atividade" onclick="validarAdicionarAtividade()">
                <a class="btn btn-danger btn-lg ms-3" href="/professor/carregar_sala/{{atividade_selecionada.sala_id}}" role="button">Cancelar</a>
            </div>
    </form>
</div>
{% endblock %}

