{% extends "base_professor.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>
{% block title %}
Sala Professor
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="container mt-3"> 
        <h2>{{ sala_selecionada.nome }}</h2>

        <div class="accordion mt-3 mb-3" id="participants-accordion">
            <button class="btn btn-success btn-lg btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Ver lista de Participantes
            </button>
            <div class="collapse" id="collapseExample">
                <div class="participant-info mb-3 mt-3">
                    <h2>Participantes</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Avatar</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Apelido</th>
                                <th scope="col">Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for participante in sala_selecionada.participantes %}
                                <tr>
                                    <th scope="row">{{ participante.id }}</th>
                                    <td>
                                        <img src="{{ url_for('avatar', nome_arquivo=participante.avatar) }}" class="img-thumbnail" style="max-width: 80px; max-width: 80px;" alt="Avatar">
                                    </td>
                                    <td>{{ participante.nome }}</td>
                                    <td>{{ participante.apelido }}</td>
                                    <td>{{ participante.tipo }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="atividades">
            <h2>Atividades</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atividade in sala_selecionada.atividades %}
                        <tr>
                            <th scope="row">{{ atividade.id }}</th>
                            <td><a class="nav-link" href="{{ url_for('professor.avaliar_atividade', id_atividade=atividade.id) }}">{{ atividade.nome }}</a></td>
                            <td>{{ atividade.descricao }}</td>
                            <td>{{ atividade.tipo }}</td>
                            <td>
                                <a class="btn btn-warning text-white" href="/professor/tela_editar_atividade/{{atividade.id}}">Editar Atividade</a>
                                <a class="btn btn-danger" href="/professor/excluir_atividade/{{ sala_selecionada.id }}/{{ atividade.id }}">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row mx-5 my-5">
            <div class="col"></div>
            <div class="col-auto">
                <a class="btn btn-success btn-lg btn-block pull-right" href="/professor/tela_criar_atividade/{{ sala_selecionada.id }}">Adicionar Atividade</a>
            </div>
        </div>
    </div>

    <script>
        var accordionButton = document.querySelector('.accordion button');
        var panel = document.querySelector('.accordion .collapse');

        accordionButton.addEventListener('click', function() {
            this.classList.toggle('active');
            if (panel.style.display === 'block') {
                panel.style.display = 'none';
            } else {
                panel.style.display = 'block';
            }
        });
    </script>
{% endblock %}
