{% extends "base_aluno.html" %}
{% block title %}
Salas Disponíveis
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<div class="container mt-3"> 
    <h2>Salas Disponíveis</h2>
    {% if salas %}
    <div class="row">
        {% for sala in salas %}
            <div class="col-md-4 mt-3">
                <div class="card" style="max-width: 200px;">
                    <img src="{{ url_for('logos', nome_arquivo=sala.logo) }}" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ sala.nome }}</h5>
                        <p class="card-text">{{ sala.descricao }}.</p>
                        <div class="mt-auto text-center">
                            <a href="/aluno/participar/{{ sala.id }}" class="btn btn-success">Participar</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <h6 class="mt-4">Parabéns! Você está participando de todas as Salas Disponíveis.</h6>
    {% endif %}
</div>
{% endblock %}
