{% extends "base_aluno.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>
{% block title %}
Principal
{% endblock %}

{% block content %}

      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

<div class="container mt-3"> 
    <h2>Minhas Salas</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Sala</th>
                <th scope="col">Atividades</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for sala in arraySalas %}
    
            <tr>
                <td>
                   <a href="{{ url_for('aluno.carregar_sala',id = sala.id) }}">
                    <img src="{{url_for('logos',nome_arquivo=sala.logo)}}" class="img-thumbnail"
                        style="max-width: 80px; max-width: 80px; "  alt="Logo da sala." >
                   </a>
                </td>
                <td><a class="nav-link" href="{{ url_for('aluno.carregar_sala',id = sala.id) }}">{{sala.nome}}</a></td>
                <td>{{ atividades_realizadas[sala.id]|default(0) }}/{{sala.atividades|count}}</td>
                </div>
                <td>
                    <a class="btn btn-danger" href="/aluno/sair_da_sala/{{sala.id}}">Sair da Sala</a>
                </td>

            </tr>
            
            {% endfor %}
        </tbody>
        
    </table>
 
    <div class="row mx-5 my-5">
        <div class="col">
        </div>
        <div class="col-auto">
          <a class="btn btn-success pull-right" href="/aluno/procurar_salas">Procurar Outras Salas</a>
        </div>
      </div>
</div>
      

{% endblock %}

