{% extends "base_aluno.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-jSNn6HBA0eqm6fGqq+0FTqvdVHKUqgDYhyf4URvhs9Z1T8h+02+O/D6LEd9o2JgD1zGv0pDyxyAUKRqI1THjFg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% block title %}
Sala {{sala_selecionada.nome}}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="container mt-3"> 
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between">
            <h1 class="page-header">{{sala_selecionada.nome}}</h1>
            <div class="image-container">
              <img src="{{url_for('logos',nome_arquivo=sala_selecionada.logo)}}" class="img-thumbnail sala-logo grayscale-image" style="max-width: 200px; max-height: 200px;" alt="Logo da Sala">
              <img src="{{url_for('logos',nome_arquivo=sala_selecionada.logo)}}" class="img-thumbnail sala-logo color-image" style="max-width: 200px; max-height: 200px; mix-blend-mode: multiply; position: absolute; top: 0; left: 0;" alt="Logo da Sala">
            </div>
            <div id="gamificação" class="p-3 mb-4 rounded" style="background-color: #f7f7f7;">
                <h1 class="page-header">Tenho {{pontuacao_aluno}} pontos de {{pontuacao_sala}} possíveis.</h1>
                <h1 class="page-header">{% if posicao_no_ranking == "" %} Fora do Ranking {% else %} Sou o {{posicao_no_ranking}}º {% endif %}entre {{sala_selecionada.participantes|count-1}} participantes.</h1>
                <div class="accordion mt-3 mb-3" id="ranking-accordion">
                  <button class="btn btn-success btn-lg btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRanking" aria-expanded="false" aria-controls="collapseRanking">
                      Ranking da Sala
                  </button>
                  <div class="collapse" id="collapseRanking" data-bs-parent="#ranking-accordion">
                      <div class="participant-info mb-3 mt-3">
                          <h2>Ranking</h2>
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th scope="col">Posição</th>
                                      <th scope="col">Avatar</th>
                                      <th scope="col">Apelido</th>
                                      <th scope="col">Pontuação</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for posicao_ranking in ranking %}
                                      <tr>
                                          <th scope="row">{{ posicao_ranking.posicao }}</th>
                                          <td>
                                            <img src="{{ url_for('avatar', nome_arquivo=posicao_ranking.aluno_avatar) }}" class="img-thumbnail" style="max-width: 80px; max-height: 80px; object-fit: cover; -webkit-clip-path: polygon(0 0, {{ posicao_ranking.porcentagem_avatar }}% 0, {{ posicao_ranking.porcentagem_avatar }}% 100%, 0 100%); clip-path: polygon(0 0, {{ posicao_ranking.porcentagem_avatar }}% 0, {{ posicao_ranking.porcentagem_avatar }}% 100%, 0 100%);" alt="Avatar">

                                          </td>
                                          <td>{{ posicao_ranking.aluno_apelido }}</td>
                                          <td>{{ posicao_ranking.pontuacao_total }}</td>
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% set atividades_respondidas_ids = [] %}
{% for tarefa in lista_pontuacao_aluno %}
    {% set _ = atividades_respondidas_ids.append(tarefa.atividade_id) %}
{% endfor %}

<div class="container mt-2"> 
   <div class="accordion" id="accordionExample">
    {% if not sala_selecionada.atividades %}
      <h4>Não há atividades cadastradas.</h4>
    {% else %}
        {% for tarefa in sala_selecionada.atividades %}
        <div class="accordion-item mt-3">
          <h2 class="accordion-header" id={{tarefa.id}}>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{tarefa.id}}" aria-expanded="true" aria-controls="collapse_{{tarefa.id}}">
      
              <span class="task-icon">
                {% if tarefa.tipo == "envio-arquivo" %}
                    <i class="fa fa-file"></i>
                {% elif tarefa.tipo == "resposta-longa" %}
                    <i class="fa fa-pencil"></i>
                {% elif tarefa.tipo == "resposta-curta" %}
                    <i class="fa fa-comment"></i>
                {% endif %}
              </span>
              <span class="task-name">{{tarefa.nome}}</span>
            </button>
          </h2>
          <div id="collapse_{{tarefa.id}}" class="accordion-collapse collapse" aria-labelledby={{tarefa.id}} data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <label class="task-description">Descrição: {{tarefa.descricao}}</label>
              <label class="task-description">Data final de entrega: {{tarefa.data_final|datetimeformat('%d/%m/%Y')}}</label> 
              {% if tarefa.id in atividades_respondidas_ids %}
              <p>Esta tarefa já foi respondida.</p>
              {% for pontuacao in lista_pontuacao_aluno %}
              {% if pontuacao.atividade_id == tarefa.id %}
                {% if pontuacao.pontuacao == "" %}
                  <p>Aguardando Correção.</p>
                  <div class="mt-auto text-center">
                    <a href="/aluno/excluir_resposta/{{sala_selecionada.id}}/{{pontuacao.resposta_id}}" class="btn btn-danger">Excluir Resposta</a>
                  </div>
                {% else %}
                  <p>Pontuação recebida: {{ pontuacao.pontuacao}}</p>
                
              
                
              {% endif %}
              {% endif%}
            {% endfor %}
            {% elif tarefa.data_final < data_atual and not tarefa.id in atividades_respondidas_ids %}
            <p>O Prazo para entrega acabou...</p>
              
            {% else %}
              {% if tarefa.tipo == "envio-arquivo" %}
              
              <form id="atividade_{{tarefa.id}}" class="form" action="/aluno/resolve_atividade/{{tarefa.id}}" method="post" enctype="multipart/form-data">
                <div class="form-group m-2">
                  <label class="form-label" for="customFile">Envie o Arquivo de Resposta</label>
                  <input type="file" class="form-control" id="resposta" name="resposta" />
                </div>
                <div class="justify-content-start">
                  <button type="submit" class="btn btn-success mt-2"><i class="fa fa-upload"></i> Enviar</button>
                </div>
              </form>
                
              {% elif tarefa.tipo == "resposta-longa" %}
              <form id="atividade_{{tarefa.id}}" class="form" action="/aluno/resolve_atividade/{{tarefa.id}}" method="post">
                <div class="form-group m-2">
                  <label for="exampleFormControlTextarea1"><i class="fa fa-pencil"></i> Escreva sua Resposta</label>
                  <textarea class="form-control" id="resposta" name="resposta" rows="15"></textarea>
                </div>
                <div class="justify-content-start">
                  <button type="submit" class="btn btn-success mt-2"><i class="fa fa-check"></i> Enviar</button>
                </div>
                </form>
              {% elif tarefa.tipo == "resposta-curta" %}
              <form id="atividade_{{tarefa.id}}" class="form" action="/aluno/resolve_atividade/{{tarefa.id}}" method="post">
                <div class="form-group m-2">
                  <label for="exampleFormControlTextarea1"><i class="fa fa-comment"></i> Escreva sua Resposta</label>
                  <input type="text" maxlength="140" class="form-control" id="resposta" name="resposta" rows="1">
                </div>
                <div class="justify-content-start">
                  <button type="submit" class="btn btn-success mt-2 justify-content-end"><i class="fa fa-check"></i> Enviar</button>
                </div>
                </form>
              {% endif %} 
              {% endif %} 
            </div>
          </div>
          
        </div>
      
      {% endfor %}
    {% endif %}
    </div>
</div>

<style>
.task-icon {
  margin-right: 10px;
}

.task-name {
  font-weight: bold;
}

.task-description {
  display: block;
  margin-bottom: 10px;
}

.accordion-button.collapsed .task-icon i {
  transform: rotate(-90deg);
}

.image-container {
  position: relative;
}

.grayscale-image {
  filter: grayscale(1);
}

.color-image {
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0); /* Inicialmente, a imagem colorida está completamente escondida */
}

</style>

<script>
  var porcentagemColorida = '{{porcentagem_preencher_imagem}}'; 

  var imageContainer = document.querySelector(".image-container");
  var grayscaleImage = document.querySelector(".grayscale-image");
  var colorImage = document.querySelector(".color-image");

  grayscaleImage.style.clipPath = "polygon(" + porcentagemColorida + "% 0, 100% 0, 100% 100%, " + porcentagemColorida + "% 100%)";
  colorImage.style.clipPath = "polygon(0 0, " + porcentagemColorida + "% 0, " + porcentagemColorida + "% 100%, 0 100%)";
  

</script>

<script>
  $(document).ready(function() {
    $('.accordion .collapse').on('show.bs.collapse', function() {
      $(this).siblings('button').addClass('active');
    });
  
    $('.accordion .collapse').on('hide.bs.collapse', function() {
      $(this).siblings('button').removeClass('active');
    });
  });
  </script>

{% endblock %}
