{% extends "base_aluno.html" %}
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>
{% block title %}
Sala {{sala_selecionada.nome}}
{% endblock %}

{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between">
            <h1 class="page-header">{{sala_selecionada.nome}}</h1>

            <div id="gamificação">
                <img src="{{url_for('logos',nome_arquivo=sala_selecionada.logo)}}" class="img-thumbnail"
                    style="max-width: 80px; max-width: 80px; filter: grayscale(1);" alt="...">
                <h1 class="page-header">Pontuação: 0 | 200</h1>
                <h1 class="page-header">Ranking:   &nbsp;&nbsp;&nbsp; 9° | 20</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">

   <div class="accordion" id="accordionExample">
        {% for tarefa in sala_selecionada.atividades %}
        <div class="accordion-item">
          <h2 class="accordion-header" id={{tarefa.getId()}}>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{tarefa.getId()}}" aria-expanded="true" aria-controls="collapse_{{tarefa.getId()}}">
              {{tarefa.nome}}
            </button>
          </h2>
          <div id="collapse_{{tarefa.getId()}}" class="accordion-collapse collapse" aria-labelledby={{tarefa.getId()}} data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>{{tarefa.descricao}}</strong> 
              {% if tarefa.tipo == "Foto" %}
              <form>
                <div class="form-group m-2">
                  <label class="form-label" for="customFile">Envie a foto</label>
                  <input type="file" class="form-control" id="customFile" />
                </div>
                <button type="submit" class="btn btn-primary align-items-end flex-column">Enviar</button>
              </form>
                
              {% elif tarefa.tipo == "RespostaLonga" %}
              <form>
                <div class="form-group m-2">
                  <label for="exampleFormControlTextarea1">Escreva sua Resposta</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
                </div>
                <button type="submit" class="btn btn-primary align-items-end flex-column">Enviar</button>
              </form>
              {% elif tarefa.tipo == "RespostaCurta" %}
              <form>
                <div class="form-group m-2">
                  <label for="exampleFormControlTextarea1">Escreva sua Resposta</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>
                <button type="submit" class="btn btn-primary align-items-end flex-column">Enviar</button>
              </form>
              {% endif %} 
            </div>
          </div>
        </div>
      
      {% endfor %}
    </div>
</div>



{% endblock %}